<mat-toolbar class="header">
<div class="header-title-wrapper">
  <img class="header-logo" src="../../assets/images/GitHub-Logo.png">
  <span class="header-title">explorer</span>
</div>
<div class="header-search-input-wrapper">
  <mat-form-field class="input-form-fiels">
    <input [(ngModel)]="userName" (keyup.enter)="searchRepos()" type="text" matInput placeholder="Type user name...">
    <mat-icon class="pointer" (click)="searchRepos()" matSuffix>search</mat-icon>
  </mat-form-field>
</div>
</mat-toolbar>