<mat-card>
  <mat-card-header>
    <mat-card-title>{{repoData.name}}</mat-card-title>
    <span class="header-stars-container">
      <mat-icon class="header-star" matSuffix>star</mat-icon><span class="star-count">{{starsCount || 0}}</span>
    </span>
    <mat-card-subtitle>{{repoData.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="item-content">
    <span class="language-wrapper col-20">
      <mat-icon matSuffix>code</mat-icon>
      <span>{{repoData.language}}</span>
    </span>
    <span class="col-20 forks-label">Forks: {{repoData.forks_count || 0}}</span>
    <span class="col-20 issues-label">Open issues: {{repoData.open_issues_count || 0}}</span>
    <span class="col-40 update-label">Last update: {{repoLastUpdate || 0}}</span>
  </mat-card-content>

  <div class="details">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Branches ({{branchesData.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-branch-item *ngIf="branchesData.length>0" [branchesData]="branchesData"></app-branch-item>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Commits ({{commitsData.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-commit-item *ngIf="commitsData.length>0" [commitsData]="commitsData"></app-commit-item>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comments ({{commentsData.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comment-item *ngIf="commentsData.length>0" [commentsData]="commentsData"></app-comment-item>
    </mat-expansion-panel>
  </div>
</mat-card>
